.about-container{
    min-height: 90%; 
    padding-top: 150px;
    padding-bottom: 80px;
}
.about-heading{
    text-align: center;
    color: #c1bbbb;
    font-family: 'Courier New', Courier, monospace;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-family: "Roboto";
    padding-top: 25px;
}
.about-des{
    padding-left: 20px;
    padding-right: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.who{
    color: rgb(243, 234, 236);
    font-style: italic;
    font-family: "Roboto";
}
.a-des{
    padding-left: 10px;
    font-style: italic;
    font-family: "Roboto";
    font-size: 20px;
    color: rgb(191, 195, 186);
}


@media screen and (min-width:768px){
    .about-des{
        padding-left: 150px;
        padding-right: 150px;
    }
    .a-des{
        padding-left: 50px;
        font-size: 28px;
    }
    .who{
        font-size: 38px;
    }
    .about-container{
        padding-top: 20px;
    }
}