.home-container{
    min-height: 95%;
    margin-bottom: 10px;
}
.home-box-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-top: 30px;
}

.home-img{
    height: 400px;
    margin-top: 0px;
    padding-left: 60px;
    opacity: 0.8;
}
.home-dis-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home-heading{
    color:brown;
    font-family: "Roboto";
}
.home-heading-2{
    color: rgb(198, 141, 141);
    font-family: "Roboto";
    padding-bottom: 60px;
    font-weight: 500;
}
span{
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    color: rgba(177, 214, 235, 0.871);
}
@media screen and (min-width:768px){
    .home-img{
        height: 500px;
    }
}