.whatsapp-icon{
    color: rgb(32, 146, 75);
    font-size: 32px;
}
.insta-icon{
    color: rgb(160, 13, 111);
    font-size: 32px;
}
.mail-icon{
    font-size: 32px;
    color: rgb(239, 236, 231);
}
a{
    text-decoration: none;
}
.icon-box{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 50%;
    padding: 10px;
    align-items: center;
    border-color: rgb(24, 5, 149);
    border-color: rgba(66, 63, 147, 0.749);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 6px 5px 4px  rgb(126, 141, 129);
}
.button-icon{
    height: 40px;
    width: 120px;
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
    background-color: transparent;
    color: rgb(204, 204, 223);
    background-color: rgb(2, 2, 24);
    border-style: solid;
    font-family: "Roboto";
    font-style: italic;
    border-color: rgb(180, 176, 176);

}
.con{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(211, 199, 199);
    font-family: "Roboto";
    font-style: italic;
}
.contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.contact-container{
    height: 90%;
    padding-bottom: 10px;
    
}