.custom-navbar{
    background-color:#050916f2	 !important;

}
.nav-text-color{
    color: #dbd8d8f9 !important;
    padding-right: 30px !important;
    font-family: "Roboto" !important;
    font-style: italic !important;
    
}
.nav-text-color1{
    color: #dbd8d8f9 !important;
    padding-right: 30px !important;
    font-family: "Roboto" !important;
    font-style: italic !important;
    
}
.nav-link.active {
    color: red !important;
    background: black !important;
  }

.nav-text-color:active {
    color: red !important;
  }
.portfolio-heading{
    padding-left: 30px !important;
}
.navbar-toggler{
    background-color: #ffffffb6 !important;
   
}
.btn-close{
    background-color: #ffffffb6 !important;
}
@media screen and (max-width:767px){
    .portfolio-heading{
         padding-left: 10px !important;
    }
}